*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
section{
    height: 100vh;
    width: 100%; 
    background-color: #222222;  
}

.contenitor{
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 1rem;
    
}

.main-screen{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 50px;
    background-color: black;
}

.user-profile{
    position: relative;
}

.users-screen{
    width: 100%;
}

.user-name{
    position: absolute;
    left: 0;
    bottom: 10px;
    color: white;
}

