*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html{
    background-color: #222222;
}

.contenitor{
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 1rem;
}

/* Header */
 
header{
    position: fixed;
    top: 1px;
    right: 1px;
}

button{
    background-color: #494949;
    padding: 0.7em;
    border-radius: 10px;
    border: none;
}

/* Main */

section .contenitor{
 width: 100%; 
}

.main-screen .contenitor{
    display: flex;
    height: 100%;
}

.main-screen{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 50px;
    background-color: black;
}

.users-screen{
    width: 100%;
    display: flex;
}

.users-profile{
    position: relative;
}

.user-name{
    position: absolute;
    left: 0;
    bottom: 10px;
    color: white;
    background-color: rgba(49, 49, 49, 0.5);
    padding: 0.3rem;
    
}

/* Nav */

.main-control{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222222;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.settings{
    display: flex;
    justify-content: space-around;
}

.intend{
    width: 20%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.interact{
    width: 70%;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.finish{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A4A4A;
    color: red;
}


